:root{
    --text: #000000;
    --background_1: #F5F5F5;
    --white: #FFFFFF;
    --gray: #8E8E93;
    --blue: #007AFF;
    --red: #FF3B30;

    --shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--background_1);
}

header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: var(--white);
    display: flex;
}
#head_box{
    margin: auto;
    width: 100%;
}
h1{
    text-align: center;
    display: inline-block;
    margin: auto;
    font-size: 1.2rem;
    color: var(--text);
}
#progress_problem{
    display: inline-block;
    width: 90%;
}


/* インジケーター */
#indicators{
    text-align: center;
}
#time{
    display: inline-block;
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 500px;
    padding: 3px 20px;
    font-size: .9rem;
    margin-top: 20px;
}
#question{
    font-size: 2rem;
    display: inline-block;
    margin-top: 10px;
}


/* キーボード */
#keybord{
    position: fixed;
    right: 10%;
    bottom: 20px;
}
#now_num{
    text-align: center;
    font-size: 1.5rem;
}
.numKey{
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 1.2rem;
    margin: 10px 5px;
    color: var(--text);
    background-color: var(--white);
    box-shadow: var(--shadow);
}
